*.wasm filter=lfs diff=lfs merge=lfs -text
taobao_automation/chrome_profile/**/Cache_Data/* filter=lfs diff=lfs merge=lfs -text
taobao_automation/chrome_profile/**/GPUCache/* filter=lfs diff=lfs merge=lfs -text
taobao_automation/chrome_profile/**/ShaderCache/* filter=lfs diff=lfs merge=lfs -text
taobao_automation/chrome_profile/**/DawnGraphiteCache/* filter=lfs diff=lfs merge=lfs -text
taobao_automation/chrome_profile/**/DawnWebGPUCache/* filter=lfs diff=lfs merge=lfs -text
taobao_automation/chrome_profile/**/GrShaderCache/* filter=lfs diff=lfs merge=lfs -text
taobao_automation/chrome_profile/**/GraphiteDawnCache/* filter=lfs diff=lfs merge=lfs -text
taobao_automation/chrome_profile/**/WasmTtsEngine/* filter=lfs diff=lfs merge=lfs -text
taobao_automation/chrome_profile/component_crx_cache/* filter=lfs diff=lfs merge=lfs -text
